* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.map {
    margin: 10px;
    margin-top: 70px;
    position: relative;
    display: inline-block;
}

    .map img {
        max-width: 100%;
        display: block;
    }

.box {
    width: 8%;
    height: 8%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: -4%;
    margin-top: -8%;
}

    .box:hover > .pin-text {
        display: block;
    }

.pin-text {
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    left: -50%;
    white-space: nowrap;
    display: none;
}

    .pin-text h3 {
        font-weight: bold;
        font-size: larger;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

#point {
    cursor: pointer !important;
}


code {
    background: #fff;
    padding: 0.2rem;
    border-radius: 0.2rem;
    margin: 0 0.3rem;
}

.container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    flex: 1 0 100%;
}

img {
    max-width: 100%;
    float: left;
}

.img-col {
    flex-basis: 50%;
}

.text-col h1 {
    display: flex;
    position: relative;
    align-items: center;
    text-transform: uppercase;
    padding-right: 450px;
    font-weight: 800;
    font-size: 60px;
    color: rgb(255, 17, 0);
    justify-content: center;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 66%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

/* ----- v CAN BE DELETED v ----- */




.btn-demo {
    margin: 15px;
    padding: 10px 15px;
    border-radius: 0;
    font-size: 16px;
    background-color: #FFFFFF;
    float: right;
}

    .btn-demo:focus {
        outline: 0;
    }

.demo-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #212121;
    text-align: center;
}

    .demo-footer > a {
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        color: #fff;
    }

.modal {
    background: rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
    display: none;
}
