.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    min-height: 30vh;
    grid-gap : 2rem;
}
.img-container{
 overflow: hidden;
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.img-container img:hover{
    transform: scale(1.2);

}
.full-img{
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;
}
.full-img.open{
    transform: translate(-50%, -50%) scale(1);

}

.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
  }

  
  .item:hover {
    flex: 7;
  }
  
  .item .content {
      position: fixed;
      bottom:0 ;
      width: 500px;
      background: rgb(240, 7, 7);
      padding: 20px;
      box-sizing: border-box;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
   }
   
  
   .item .content2 {
     
    position: absolute;
    bottom: 0;
    width: 500px;
    background: rgb(7, 127, 240);
    padding: 20px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  
  
  .item:hover .content2{
    position: fixed;
    visibility: visible;
    padding-top:100px ;
    opacity: 1;
  }
  
   .item:hover .content{
     visibility: visible;
     opacity: 1;
   }
  
  .item-1 {
    background-image: url(../images/bronzier/adama1.jpg);
  }
  
  
  .item-2 {
    background-image: url(../images/griots/alasson1.jpg);
  }
  
  .item-3 {
    background-image: url(../images/fabricantM/kiennou6.jpg);
  }
  
  .item-4 {
    background-image: url(../images/tisserant/diarra0.jpg);
  }
  
  
  .social {
    position: absolute;
    right: 35px;
    bottom: 0;
  }
  .social img {
    display: block;
    width: 32px;
  }
#artiste{
    text-align: center;
}

#styles{
  margin-top: 200px !important;
}
.text{
 margin-left: 16%;
 text-align: left;
 position: relative;
 color: aliceblue;
 font-size: 20px;
 text-indent: 5%


}

.histoire{
  margin-bottom: 15%;
  text-transform: uppercase;
  margin-bottom: 20px;
  justify-content: center;
  font-size: xx-large;
  color:#01D758;
}
.titre{
  color:#ffffff;
  position: relative;
  font-size: large;
  margin-top: 15%;
  text-transform: uppercase;

}
.paragraphe{
  color: aliceblue;
}

.actu {
  font-family    : var(--font-2);
  font-size      : var(--text-sm);
  font-weight    : 600;
  color          : #01D758;
  text-transform : uppercase;
  letter-spacing : .3em;
  margin-top     : 0;
  margin-left    : .2rem;
  margin-bottom  : 0;
  position       : relative;
  margin-top: 20%;
}
.quote{
 
  color: aliceblue;

}

#topp{
  margin-top: 10%;
}
#botom{
  margin-bottom: 10%;
  
}



